@model IEnumerable<Demo.Domain.ViewModels.Students.StudentAllDTO>

@{
    ViewData["Title"] = "Students List";
}

<h1>Students List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentId</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
            </tr>
        }
    </tbody>
</table>
